.Leyenda
{
font-weight: bold;
text-decoration: underline
 }
 .uno
{
background-color: salmon
}
 .dos
{
background-color:green   
}
 .tres
{
background-color: pink
}
 .cuatro
{
background-color: blue
}